@import url('./__title/comments__title.css');

.comments {
  margin: 102px auto 0;
  width: calc(100% - 256px);
}

@media screen and (max-width : 1281px) {
  .comments {
    width: calc(100% - 96px);
  }
}

@media screen and (max-width : 900px) {
  .comments {
    width: calc(100% - 128px);
  }
}

@media screen and (max-width : 600px) {
  .comments {
    width: calc(100% - 32px);
  }
}
