.place__title {
  width: auto;
  height: auto;
  margin: 0;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 65px;
  -ms-flex-item-align: end;
      align-self: end;
}

@media screen and (max-width : 900px) {
  .place__title{
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width : 600px) {
  .place__title {
    width: calc(100% - 32px);
    margin: 0 auto;
    font-size: 32px;
    line-height: 35px;
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
  }
}
