@import url('./__item/photo-grid__item.css');

.photo-grid {
  margin: 102px auto 0;
  max-width: 1184px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr 16px 1fr 16px 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 16px;
}

.photo-grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.photo-grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.photo-grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.photo-grid > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.photo-grid > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.photo-grid > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.photo-grid > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.photo-grid > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.photo-grid > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.photo-grid > *:nth-child(10) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.photo-grid > *:nth-child(11) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.photo-grid > *:nth-child(12) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}

@media screen and (max-width : 1200px) {
  .photo-grid {
    width: calc(100% - 96px);
    -ms-grid-columns: 1fr 14px 1fr 14px 1fr;
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr 14px 1fr 14px 1fr 14px 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 14px;
  }
  .photo-grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .photo-grid > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .photo-grid > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .photo-grid > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }
  .photo-grid > *:nth-child(7) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(8) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  .photo-grid > *:nth-child(9) {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
  }
  .photo-grid > *:nth-child(10) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(11) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
  }
  .photo-grid > *:nth-child(12) {
    -ms-grid-row: 7;
    -ms-grid-column: 5;
  }
}

@media screen and (max-width : 900px) {
  .photo-grid {
    margin-top: 97px;
    width: calc(100% - 48px);
    -ms-grid-columns: 1fr 16px 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 16px;
  }
  .photo-grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .photo-grid > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .photo-grid > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(6) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  .photo-grid > *:nth-child(7) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(8) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
  }
  .photo-grid > *:nth-child(9) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(10) {
    -ms-grid-row: 9;
    -ms-grid-column: 3;
  }
  .photo-grid > *:nth-child(11) {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(12) {
    -ms-grid-row: 11;
    -ms-grid-column: 3;
  }
}

@media screen and (max-width : 600px) {
  .photo-grid {
    margin-top: 64px;
    width: calc(100% - 32px);
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr;
    grid-template-rows: repeat(12, 1fr);
  }
  .photo-grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(4) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(5) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(6) {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(7) {
    -ms-grid-row: 13;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(8) {
    -ms-grid-row: 15;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(9) {
    -ms-grid-row: 17;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(10) {
    -ms-grid-row: 19;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(11) {
    -ms-grid-row: 21;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(12) {
    -ms-grid-row: 23;
    -ms-grid-column: 1;
  }
}

@media screen and (max-width : 321px) {
  .photo-grid {
    grid-gap: 8px;
  }
}
