.cover__subtitle {
  max-width: 382px;
  margin: 134px auto 0;
  font-weight: 100;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

@media screen and (max-width : 1200px) {
  .cover__subtitle {
    margin-top: 90px;
  }
}

@media screen and (max-width : 900px) {
  .cover__subtitle {
    margin-top: 67px;
    max-width: 354px;
  }
}

@media screen and (max-width : 600px) {
  .cover__subtitle {
    margin-top: 20px;
    max-width: 343px;
    font-size: 14px;
    line-height: 17px;
    white-space: pre-wrap;
  }
}

@media screen and (max-width : 321px) {
  .cover__subtitle {
    margin-top: 13px;
    max-width: 288px;
  }
}
