@import url('./__navi-link/header__navi-link.css');

.header {
  max-width: 1184px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width : 1280px) {
  .header {
    max-width: 1184px;
  }
}

@media (max-width : 1024px) {
  .header {
    max-width: 928px;
  }
}

@media (max-width : 768px) {
  .header {
    max-width: 720px;
  }
}

@media (max-width : 375px) {
  .header {
    max-width: 343px;
  }
}

@media (max-width : 320px) {
  .header {
    max-width: 288px;
  }
}
