@import url('./__link/header__link.css');

.header {
  width: 82.2%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width : 1200px) {
  .header {
    width: 90.6%;
  }
}

@media screen and (max-width : 900px) {
  .header {
    width: 93.8%;
  }
}

@media screen and (max-width : 600px) {
  .header {
    width: 91.5%;
  }
}

@media screen and (max-width : 321px) {
  .header {
    width: 90%;
  }
}
