.header {
  padding-top: 30px;
  max-width: 82.2%;
  min-height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

@media screen and (max-width : 1024px) {
  .header {
    max-width: 90.6%;
    min-height: 52px;
  }
}
