.video__item {
  max-width: 583px;
  height: 323px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}


@media screen and (max-width : 1024px) {
  .video__item {
    max-width: 456px;
    height: 288px;
  }
}

@media screen and (max-width : 768px) {
  .video__item {
    max-width: 352px;
    height: 200px;
  }
}

@media screen and (max-width : 375px) {
  .video__item {
    max-width: 343px;
  }
}

@media screen and (max-width : 320px) {
  .video__item {
    max-width: 288px;
    height: 192px;
  }
}
