.intro__content-row {
  max-width: 683px;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 24px;
  margin-top: 48px;
}

@media screen and (max-width : 1200px) {
  .intro__content-row {
    max-width: 692px;
  }
}

@media screen and (max-width : 900px) {
  .intro__content-row {
    width: 100%;
  }
}

@media screen and (max-width : 600px) {
  .intro__content-row {
    margin-top: 32px;
    font-size: 16px;
    line-height: 27px;
  }
}
