.video__duration {
  margin-left: 30px;
  margin-top: 94px;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.3em;
  margin-bottom: 0;
}

@media screen and (max-width : 1200px) {
  .video__duration {
    margin-top: 54px;
  }
}

@media screen and (max-width : 900px) {
  .video__duration {
    margin-left: 24px;
    margin-top: 36.29px;
  }
}

@media screen and (max-width : 600px) {
  .video__duration {
    margin-top: 41px;
  }
}

@media screen and (max-width : 321px) {
  .video__duration {
    margin-left: 16px;
    margin-top: 49px;
  }
}
