.lead__image {
  margin: 78px auto 0;
  width: 100%;
  height: 554.13px;
  background-image: url('../../../images/kalegin-michail-179870-unsplash.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width : 1200px) {
  .lead__image {
    margin-top: 65px;
    max-width: 928px;
    height: 554px;
  }
}

@media screen and (max-width : 900px) {
  .lead__image {
    margin-top: 78px;
    width: 100%;
    height: 420px;
  }
}

@media screen and (max-width : 600px) {
  .lead__image {
    margin-top: 30px;
    width: 100%;
    height: 211px;
  }
}

@media screen and (max-width : 321px) {
  .lead__image {
    max-width: 320px;
  }
}
