.intro__text {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 383px;
  font-weight: normal;
  font-size: 0.8125rem;
  line-height: 20px;
  margin-top: 24px;
}

@media screen and (max-width : 900px) {
  .intro__text {
    max-width: 720px;
  }
}

@media screen and (max-width : 600px) {
  .intro__text {
    margin-top: 32px;
    max-width: 343px;
    font-size: 12px;
    line-height: 19px;
  }
}
