@import url('./__title/intro__title.css');
@import url('./__content-row/intro__content-row.css');
@import url('./__text/intro__text.css');


.intro {
  margin: 80px auto 0;
  max-width: 985px;
}

@media screen and (max-width : 1200px) {
  .intro {
    max-width: 928px;
  }
}

@media screen and (max-width : 900px) {
  .intro {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width : 600px) {
  .intro {
    margin-top: 64px;
    width: calc(100% - 32px);
  }
}

