.root {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 16px;
  background-color: #2a2c2f;
  min-width: 1440px;
  color: #fff;
  margin: auto;
}

@media (min-width : 1024px) {
  .root {
    min-width: 1024px;
  }
}
