@import url('./__link/cover__link.css');
@import url('./__bg/cover__bg.css');
@import url('./__title/cover__title.css');
@import url('./__subtitle/cover__subtitle.css');

.cover {
  max-width: 1184px;
  margin: 102px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #2a2c2f;
}

@media screen and (max-width : 1024px) {
  .cover {
    max-width: 1024px;
  }
}

@media screen and (max-width : 768px) {
  .cover {
    max-width: 768px;
  }
}

@media screen and (max-width : 375px) {
  .cover {
    max-width: 375px;
  }
}

@media screen and (max-width : 320px) {
  .cover {
    max-width: 320px;
  }
}
