@import url('./_kamchatka/video__item-bg_kamchatka.css');
@import url('./_observatory/video__item-bg_observatory.css');

.video__item-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;

}
