.lead__caption {
  align-self: flex-start;
  margin-top: 11px;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin-bottom: 0;
}
