.lead__caption {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 10.87px;
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.15em;
  margin-bottom: 0;
}

@media screen and (max-width : 1200px) {
  .lead__caption{
    margin-top: 16px;
  }
}

@media screen and (max-width : 900px) {
  .lead__caption{
    margin-left: 24px;
  }
}

@media screen and (max-width : 600px) {
  .lead__caption{
    margin-top: 10px;
  }
}

@media screen and (max-width : 321px) {
  .lead__caption{
    margin-top: 8px;
  }
}
