@import url('./__navi-links/footer__navi-links.css');
@import url('./__navi-link/footer__navi-link.css');
@import url('./__link/footer__link.css');
@import url('./__copyright/footer__copyright.css');

.footer {
  max-width: 1184px;
  margin: 160px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width : 1200px) {
  .footer {
    width: calc(100% - 96px);
  }
}

@media screen and (max-width : 960px) {
  .footer {
    margin-top: 102px;
    width: calc(100% - 46px);
  }
}

@media screen and (max-width : 760px) {
  .footer {
    width: calc(100% - 32px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
