.place__url {
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 30px;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}

.place__url:hover {
  color: #aaa;
  transition: color 0.5s ease-out 0.3s;
}
