.place__website {
  max-width: 484px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media screen and (max-width : 768px) {
  .place__website {
    max-width: 352px;
  }
}

@media screen and (max-width : 375px) {
  .place__website {
    display: none;
  }
}
